h1 {
    background-color: bisque;
    border-bottom: 1px solid black;
    padding: 0 20px;
}
.div-wrapper {
    border: 1px solid black;
    padding-bottom: 20px;
}
.btn {
    margin-right: 5px;
}
.btn-success  {
    margin-bottom: 10px;
    margin-left: 20px;
}
.table-wrapper {

    margin: 0 20px;
}
